#container { 
    background-image: url("assets/images/containerBackground.jpeg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif; 
}
#navBar ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navBar li {
    float: right;
    background: #333;
}
h1 {
    font-size: 4em;
    margin: 0;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.2em !important;
    margin-top: 0.0em;
}
h3 {
    font-size: 1.5em;
    margin: 0;
}
a {
    text-decoration: none;
}
#mainTitle{
    width: 50%;
    float: left;
    background: #fff;
    padding: 0;
}
#theCharities {
    float: right; 
}
#navBar {
    font-size: 1.8em !important;
    margin-top: 21.440px !important;
    width: 40%;
    display: inline-block;
    margin-left: 3em;
}
.navItem {
    margin: 0.2em 0.4em;
    color: #fff;
    height: 1em !important;
}
#sidebar {
    margin: 1.08em 0;
    width: 30%;
    background: #ddd;
    opacity: 0.7;
    height: 41.7em;
    float: left;
    padding: 0;
}
#missionTitle {
    padding-left: 0.3em !important;
}
#missionText {
    padding-left: 0.3em !important;
    height: 1em !important;
}
#missionText h4 {
    padding: 0;
}
#otherCharityList   -webkit-scrollbar { width: 0 !important}
#otherCharityList {

    text-align: left;
    height: 1.1em;
    padding-left: 0.3em;
    position: relative;
}
#otherCharityList a {
    color: blue;
    height: 1.1em;
    margin: 0;
    
}
#otherCharityList a:hover {
    background: #fff;    

}
#otherCharityList ul {
    padding: 0em 0 0 0 !important;
    margin-top: 7.2em !important;
}
#otherCharityList li {
    margin: 0;
    height: 1.2em;
    background: #ddd;
    list-style-type: none !important;
}
#otherCharityList h5 {
    height: 1.2em;
    margin: 0 !important;
}
#featured {
    width: 68%;
    display: block;
    float: right;
}
#featuredMainTitle {
    margin-top: 1em;    
    padding: 0;
    background: BLUE;
    opacity: 0.7;
    width: 100%;
    color: white;
    text-align: center;
}
.featChar {
    width: 48%;
    height: 18em;
    background: #3c7e24;
    opacity: 0.7;
    border: white 1px solid;
    float: left;
    margin-top: 0.3em;
}
.featChar a:hover {
    background: #fff;   
}
.featChar a {
    color: darkblue;
}
.featCharTitle {
    text-align: center;
    text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
}
/* #featCharTop {
} */
#featCharBottom {
    position: relative;
}
.featCharDescription {
    text-align: center;
    color: #eee;
}
#featCharButton {
    text-align: center;    
}
.button{
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em; 
}
button:hover{
    background: blue;
}
#footer {
    width: 100%;
    height: 3em;
    background: blue;
    position: absolute;
    bottom: 0;
    left: 0;
}
#footer li {
    float: right;
    list-style-type: none !important;
    padding-right: 2em;
    color: #111;
}
#footer li a{
    color: #111;
}



